<div class="contact-page">
    <app-header></app-header>
		<section class="contact-page__main">
			<h1>Hello World</h1>
		</section>
    <section class="contact-page__contact-ways">
			<div class="contact-page__contact-container">
				<app-advantage
					background="box bg-black"
					class="contact-page__contact-way"
					icon="fas fa-hotel fa-3x"
					description="123 pavlova"
					title="Location">
				</app-advantage>
				<app-advantage
					background="box bg-black"
					class="contact-page__contact-way"
					icon="fas fa-phone fa-3x"
					description="0732674208"
					title="Phone Number">
				</app-advantage>
				<app-advantage
					background="box bg-black"
					class="contact-page__contact-way"
					icon="fas fa-envelope fa-3x"
					description="joshua@gmail.com"
					title="Email Address">
				</app-advantage>
			</div>
        
    </section>
    <app-footer></app-footer>
    
	</div>