<ul class="advantages">
    <li class="advantages__item">
        <app-advantage background="box bg-light" icon="fas fa-hotel fa-3x" description="My First Description"
            title="Great Location"></app-advantage>
    </li>
    <li class="advantages__item">
        <app-advantage background="box bg-primary" icon="fas fa-utensils fa-3x" description="My Second Description"
            title="Free Meals"></app-advantage>
    </li>
    <li class="advantages__item">
        <app-advantage background="box bg-light" icon="fas fa-dumbbell fa-3x"
            description="My Third Descrip[tionadfasd asdfas" title="Fitness Room"></app-advantage>
    </li>
</ul>