/* Reset */
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  
  /* Main Styling */
  html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  h1, h2, h3 {
    padding-bottom: 20px;
  }
  header {
      display: none;
  }
  p {
    margin: 10px 0;
  }
  
  /* Utility Classes */
  
  /* Navbar */

  
  /* Showcase */

  
  /* Home Info */
  #home-info {
    height: 450px;
  }
  
  #home-info .info-img {
    float: left;
    width: 50%;
    background: url('../assets/img/photo-1.jpg') no-repeat;
    min-height: 100%;
  }
  
  #home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
  }
  
  #home-info .info-content p {
    padding-bottom: 30px;
  }
  
  /* Features */
  .box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align:center;
  }
  
  .box i {
    margin-bottom: 10px;
  }
  
  /* About Info */
  
  /* Testimonials */
 
  
  /* Contact Form */
  #contact-form .form-group {
    margin-bottom: 20px;
  }
  
  #contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  #contact-form input, 
  #contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
  }
  
  #contact-form textarea {
    height: 200px;
  }
  
  #contact-form input:focus, 
  #contact-form textarea:focus {
    outline: none;
    border-color: #f7c08a;
  }
  
  /* Footer */




  